h1 {
  text-align: center;
}

.card-images-wrapper {
  margin: 10px;
}

.login-button-container {
  display: flex;
  width: 50vh;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
}

.login-menu-wrapper {
  background-image: url("https://t3.ftcdn.net/jpg/02/71/50/04/360_F_271500423_Ls3YOwFx6DqHy4nUvAV2P0G2UQwFeQaq.jpg");
  background-size: contain;
  background-position: center center;
  border-radius: 30px;
  width: 55vh;
  height: 30vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-text {
  color: rgb(207, 225, 231);
}

.game-card-array {
  display: flex;
  gap: 10px;
  margin: 10px;
}

.flex {
  display: flex;
  gap: 10px;
}

.flexCompany {
  display: flex;
  width: 100%;
  align-content: stretch;
  /* align-items: stretch; */
  /* justify-content: center; */
}

.flex > * {
  flex: 1;
}

.iframe {
  flex-grow: 4;
  min-height: 600px;
  margin-left: 5px;
}

.flexRight {
  flex-grow:4;
  display: flex;
  flex-direction: column;
}

.lookerDash {
  flex-grow:5;
  display: flex;
  flex-direction: column;
}

.muiCharts {
  display: flex;
}

.flexdown {
  display: flex;
  flex-direction: column;
}

.dataHub {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 12px;
}